@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100%;
    height: 100vh;
    margin-top: 50px;
    align-items: center;
    text-align: center;
    background: chocolate;
}
.input {
    padding: 10px;
    border-radius: 50px;
    border-bottom-color: chocolate;
}

.lista {
    list-style:none;
}

@media screen and (max-width: 360px) {
    body {
        border-radius: 15px;
    }
}
/*
#movies-section {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    justify-content: center;
}

.movie {
    border: solid 1px gray;
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 1px 5px 0 #B27877;
} /*