body{
    /*width: 100%;
    height: 100vh;
    margin-top: 50px;
    align-items: center;
    text-align: center;*/
    background-color: #000000;
    margin: auto;
    font-family: "Century Gothic", "Arial", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter";
}


.header{
    background: #e1701a;
    height: 60px;
    padding: 0 30px;
}
.input {
    padding: 10px;
    border-radius: 50px;
    border-bottom-color: chocolate;
}

.lista {
    list-style:none;
}

@media screen and (max-width: 360px) {
    body {
        border-radius: 15px;
    }
}
/*
#movies-section {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    justify-content: center;
}

.movie {
    border: solid 1px gray;
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 1px 5px 0 #B27877;
} /*