body{
    background-color: #ffffff;
    margin: auto;
    font-family: "Century Gothic", "Arial", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter";
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header{
    background: #e1701a;
    height: 60px;
    width:1836px;

    }
.principal{
    background: white;
    width: 314px;
    height: 457px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.lista{
    list-style:none;
}

.input {
    padding: 10px;
    border-radius: 50px;
    border:none;
   }

.boton {
    color: white;
    background-size: 100% 100%;
   border:none;


border-radius: 50%;
}

@media screen and (max-width: 360px) {
    body {
        border-radius: 15px;
    }
}
/*
#movies-section {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    justify-content: center;
}

.movie {
    border: solid 1px gray;
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 1px 5px 0 #B27877;
} /*